/GNUmakefile
/PKGBUILD
/d/*.html
/pkg/
/repoq
/repoq.rules
/repose
/repose-add
/repose-clear
/repose-install
/repose-issue-add
/repose-issue-rm
/repose-list
/repose-list-products
/repose-prune
/repose-remove
/repose-reset
/repose-switch-to
/repose.*.zsh
/*.1
/*.5
/*.html
/*.spec
